@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Javier Noda</h1>
    <h2>Soy un desarrollador Junior con experiencia en tecnologías como .NET y C#</h2>

    <img class="foto-perfil" src="imagenes/fotoperfil.png" alt="Foto de perfil"/>
</div>
